




@media only screen and  (max-width:600px)
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 37px;
    padding: 0;
    width: 100%;
}


header{
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: 32px;
    background-color: rgb(255, 255, 255);
    border-bottom: #e2b72c 1px solid;

}


aside{
    box-shadow: 10px 12px 14px rgb(0, 0, 0);
    background-color: #2a4a85;
    color: #e2b72c;
    float: left;
    width: 34%;
    height: 60%;
    margin-right: 2%;
    border-radius: 35px;
    display: flex;
    flex-direction:column;

}
    

.box {
    /* display: flex; */
}



main {
    
   
        box-shadow: 10px 12px 14px rgb(0, 0, 0);
        color: #e2b72c;
        float: right;
        width: 64%;
        display: flex;
        flex-direction:column;
        background-color: rgb(255, 255, 255);
    
    }


img{
    float: right;
}

footer{

    box-shadow: 10px 12px 14px rgb(0, 0, 0);
    background-color: #2a4a85;
    color: #e2b72c;
    text-align: center;
    width: 100%;
    height: 20%;
    clear:both ;
    border-radius: 40px;

}



h1, h2, h3 {
    color: #e2b72c;
}

section {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #2a4a85;
    box-shadow: 10px 12px 14px rgb(0, 0, 0);
    border-radius: 40px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 8px;
    border-bottom: #e2b72c 1px solid;
}

article {
    margin-bottom: 20px;
}


